
/* ============================== Colors ============================== */
$c-primary: #FFE036; /* main color */
$c-secondary: #D8EBFF; /* sub color */
$c-link: #0095D9;
$c-link-pale: #D8EBFF;
$c-white: #FFFFFF;
$c-red: #FF6464;
$c-gray-100: #FAFAFA;
$c-gray-200: #EEEEEE;
$c-black-100: #555555;
$c-black-200: #333333;